#logo {
	width: 180px;
	height: 90px;
	margin-left: 20px;
}
#header h1 {
	text-align: center;
	margin-top: -55px;
	color: white;
}
#header {
	background-color: orange;
	height: 110px;
}
#header a {
	text-align: center;
	color: white;
	margin-left: 80px;
}

#bruh {
	background-color: darkorange;
	color: darkorange;
}
#content {
	background-color: #ffb75d;
	margin-top: 10px;
}
#mario {
	font-size: 40px;
	margin-left: 15px;
}
#marioimg {
	width: 220px;
	height: 200px;
	margin-left: 15px;
	margin-top: -165px;
}
#descriptionds {
 margin-left: 240px;
}
#descriptionds h2 {
	margin-top: 0px;
}
#descriptionds button {
	margin-top: -1000px;
}

#main h1 {
	margin-top: -5px;
 text-align: center;
}

#footer {
	background-color: orange;
	height: 30px;
	text-align: center;
	color: white;
	margin-top: -15px;
}
